* {
    margin: 0;
    padding: 0;
}

.thin-shadow {
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.root-container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 60px;
    background-color: #1B1464;
    @extend .thin-shadow;
}


.date {
    grid-column-start: 2;
    text-align: center;
    line-height: 60px;
    color: white;

    &__day-and-month {
        opacity: 0.8;
    }
}

.main-container {

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(#f3b6c9 0%, #6A4EA7 100%) no-repeat 50% 50% / 100% 100%;
        z-index: -2;
    }

    &__search {
        position: absolute;
        z-index:3;
        top: 100px;
        left: 20px;

        &__form {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            transition: all 400ms;
            width: 50px;
            height: 50px;
            background: linear-gradient(#FABB3E 0%, #C27133 100%) no-repeat 50% 50% / 100% 100%;
            box-sizing: border-box;
            border-radius: 25px;
            border: 4px solid #FABB3E; 
            padding: 5px;
            box-shadow: 0 2px 2px 2px rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);

            &__input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;;
                height: 42.5px;
                line-height: 30px;
                outline: 0;
                border: 0;
                display: none;
                font-size: 1em;
                border-radius: 20px;
                padding: 0 20px;
            }

            & .fa{
                box-sizing: border-box;
                padding: 10px;
                width: 42.5px;
                height: 42.5px;
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 50%;
                color: #07051a;
                text-align: center;
                font-size: 1.2em;
                transition: all 400ms;
            }

            &:hover {
                width: 200px;
                cursor: pointer; 

                & &__input {
                    display: block;
                }

                & .fa {
                    background: linear-gradient(#FABB3E 0%, #C27133 100%) no-repeat 50% 50% / 100% 100%;
                    // color: white;
                    transform: rotate(360deg);
                }
            }
        }
    }

    &__box {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width : 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

form:hover input{
    display: block;
}


.weather-card {
    height: 450px;
    width: 60%;
    background-color: white;
    @extend .thin-shadow;
    border-radius: 18px;
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1.5fr;

    &__top {
        display: grid;
        grid-template-rows: 0.7fr 1.5fr 1fr;
        grid-template-columns: 1fr 1fr 0.8fr;
        color: white;
        height: 100%;
        width: 100%;
        border-radius: 18px 18px 0 0;
        background: linear-gradient(to bottom, #711B86, #00057A);
    }


    &__location {
        padding-top: 4px;
        grid-column-start: 3;
        grid-row-start: 2;
        position: relative;

        &__text {
            font-size: 24px;
        }

        &__stick {
            position: absolute;
            top: 43px;
            left: 20px;
            display: inline-block;
            height: 2px;
            width: 40px;
            background-color: white;
        }
    }
    
    &__temperature {
        display: flex;
        justify-content: center;
        grid-row-start: 2;
        grid-column-start: 1;
        font-size: 48px;
    }

    &__box {
        font-size: 12px;
        grid-row-start: 3;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        &__humidity {
            text-align: center;
            grid-column-start: 1;
            grid-row-start: 1;
            opacity: 0.8;
    
            span {
                display: block;
            }
        }
    
        &__wind {
            text-align: center;
            grid-column-start: 2;
            grid-row-start: 1;
            opacity: 0.8;
    
            span {
                display: block;
            }
        }
    }

    &__bottom {
        
        &__forecast {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    height: 100%;
                    width: 100%;
                    text-align: center;

                    &:nth-child(1) span {
                        font-weight: bold;
                    }
                }
            }
            
        }
    }
}

.center-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width: 425px) {
    .clear {
        background-image: url(./images/sunny.png);
        background-size: contain;
        height: 40px;
        width: 40px;
    }
    
    .rain {
        background-image: url(./images/rainy.png);
        background-size: contain;
        height: 40px;
        width: 40px;
    }
    
    .clouds {
        background-image: url(./images/cloudy.png);
        background-size: contain;
        height: 40px;
        width: 40px;
    }
    
    .snow {
        background-image: url(./images/snow.png);
        background-size: contain;
        height: 40px;
        width: 40px;
    }
    
    .thunderstorm {
        background-image: url(./images/thunder.png);
        background-size: contain;
        height: 40px;
        width: 40px;
    }
}
@media(min-width: 426px) {
    .clear {
        background-image: url(./images/sunny.png);
        background-size: contain;
        height: 80px;
        width: 80px;
    }
    
    .rain {
        background-image: url(./images/rainy.png);
        background-size: contain;
        height: 80px;
        width: 80px;
    }
    
    .clouds {
        background-image: url(./images/cloudy.png);
        background-size: contain;
        height: 80px;
        width: 80px;
    }
    
    .snow {
        background-image: url(./images/snow.png);
        background-size: contain;
        height: 80px;
        width: 80px;
    }
    
    .thunderstorm {
        background-image: url(./images/thunder.png);
        background-size: contain;
        height: 80px;
        width: 80px;
    }
}
